.intro__main-text {
  width: 690px;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  margin: 40px 0 33px;
}

@media screen and (max-width: 768px) {
  .intro__main-text {
    width: 93.72%;
  }
}

@media screen and (max-width: 425px) {
  .intro__main-text {
    width: 90%;
    font-size: 16px;
    line-height: 26px;
  }
}
