.cover-section {
  margin-bottom: 92px;
}

@media (max-width: 768px) {
  .cover-section {
    margin-bottom: 88px;
  }
}

@media (max-width: 425px) {
  .cover-section {
    margin-bottom: 66px;
  }
}
